---
layout: default
---
<div class="post">
  <article>
    <embed 
      src="{{ 'assets/pdf/' | append: page.cv_pdf | relative_url }}" 
      width="{{ site.max_width }}" 
      height="1200px" />
  </article>
</div>
